* {
	padding: 0;
	margin: 0;
}
#container{
    grid-template-columns: 23% 45% 32%;
    display: grid;
    margin: none;
}

/*NAVBAR*/
#navbar{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 20%;
    border-right: solid #e5e2e2  1px;
    
}

#navbar button{
    width: 15vw;
    height: 7vh;
    text-align: left;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    border-radius: 100px;
    margin-top: 15px;
}

#navbar  img{
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10%;
    background: none;
    margin-left: 10px;
}
#navbar p{
    display:inline;
    position: absolute;
    margin-top:5%;
}
#ButtonTweet{
    background-color: #01A9DB;
    color:white;
    text-align: center !important;
}
#navbar button:hover{
    background-color: rgba(46, 204, 250, 0.2);
}

#ButtonTweet:hover{
    background-color: #2ECCFA !important;
}
.fixo{
    position:fixed;
    z-index: 5;
}

.nav{
    display: block;
    border-style: none;
    background-color: white;
    text-decoration:none;
    position: relative !important;
    margin-top:5%;
}


/*------------------------*/

/*TWEETS*/
#tweets{
grid-column-start: 2;
grid-column-end: 3;
}

.PaginaInicial{
    border-bottom: solid #e5e2e2  1px;
    height: 8vh;
    background-color: white;
    width: 45%;
    z-index: 2;
}

.PaginaInicial h3{
    margin-left: 2%;
    margin-top: 2%;
    font-weight: bold;
    font-family: Arial;
    align-items: center;
    position: absolute;
}

#tweet{
    display: block;
}
#postar img{
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-left: 2%;
}
/*#postar textarea{
    border: none;
    overflow: auto;
    outline: none;
    background: gray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}*/
#postar{
    border-bottom: solid #e5e2e2  8px;
}
#postar input{
    border: none;
    color:  #808080;
    font-size: 100%;
    font-weight: bold;
    height: 10vh;
    width: 30vw;
    position: absolute;
    margin-left: 1%;
}
#botoesPostar div button{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: none;
    background: white;
    margin-bottom: 2%;
    margin-top:2%;
}
#botoesPostar div button:hover{
    background:rgba(46, 204, 250, 0.2);;
}
#botoesPostar div img{
    height: 20px;
    width: 20px;
    position: relative;
}
#botoesPostar div{
  display: inline;
}
#botoesPostar .esquerda{
    margin-left: 26%;
}
#botoesPostar .direita{
    margin-left: 10%;
}
#Tweetar{
    background: #01A9DB !important;
    color: white;
    width: 8vw !important;
}
#Tweetar:hover{
    background: #2ECCFA !important;
}
#Feed{
    display: flex;
    flex-direction: column;
}

.tweet{
    border-bottom: solid #e5e2e2  1px;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tweet .titulo{
    display: flex;
    flex-direction: row;
    height: 15%;
    margin-left:3%;
    margin-top:2%;
}
.tweet .titulo img{
    height: 8vh;
    width: 4vw;
    border-radius: 100px;
}
.tweet .titulo h5{
    margin-top:1%;
    margin-left:2%;
}
.tweet .titulo p{
    font-size:80%;
    margin-left:2%;
}
.tweet .titulo div{
   width: 100%;
}
.tweet .btns{
    height: 10%;
}
.tweet .btns button{
    border: none;
    style: none;
    height: 6vh;
    width: 3vw;
    border-radius: 100px;
    margin-left: 10%;
}
.tweet .btns button:hover{
    background: rgba(86, 191, 223, 0.74) ;
}
.tweet .btns button img{
    height: 70%;
    width: 70%;
}
.tweet .conteudo{
    height: 70%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top:1%;
    border-radius: 20px;
}
.tweet:hover{
    background: rgba(229, 226, 226, 0.3);
}
/*------------------------*/

/*TRENDS*/
#trends{
    grid-column-start: 3;
    grid-column-end: 4;
    border-left: solid #e5e2e2  1px;
    display: flex;
    flex-direction: column;
}
.Busca{
    height: 8vh;
    background: white;
    width: 32%;
}
.Busca input{
    border: none;
    border-radius: 100px;
    color:#808080;
    background:  #e5e2e2 ;
    height: 6vh;
    width: 56vh;
    margin-left: 8%;
    margin-top: 2%;
    
}
.Busca input:focus{
    border: solid #01A9DB 1px;
    background: white;
}
#assuntos{
    height: 100vh;
    background: rgba(229, 226, 226, 0.5);
    margin-top: 5%;
    width: 85%;
    margin-left: 8%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
#seguir{
    height: 45vh;
    background: rgba(229, 226, 226, 0.5);
    margin-top: 5%;
    width: 85%;
    margin-left: 8%;
    border-radius: 15px;
}
#assuntos .titulo{
    border-bottom: solid #e5e2e2 1px;
    height: 7vh;
}
#assuntos .titulo h3{
    display: inline;
    margin-top: 1%;
    margin-left: 2%;
    position: absolute;
}

#assuntos .titulo button{
    border: none;
    style: none;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    float: right;
    margin-right: 2%;
    margin-top:1%;
}
#assuntos .assunto{
    height:12vh;
    border-bottom: solid #e5e2e2 1px;
}
#assuntos .assunto:hover{
    background: rgba(229, 226, 226, 0.9);
}
#assuntos h5{
    margin-left:2%;
    margin-top:2%;
}

#assuntos p{
    margin-left:2%;
    margin-top:2%;
    color: gray;
    font-size:80%;
}
.mais{
    margin-left:5%;
    margin-top:4%;
    color: #01A9DB !important;
    font-size:90%;
}
#Seguir .titulo{
    border-bottom: solid #e5e2e2 1px;
    height: 7vh;
}
#Seguir .titulo h3{
    display: inline;
    margin-top: 1%;
    margin-left: 2%;
    position: absolute;

}
#Seguir .perfil{
    display:flex;
    flex-direction: row;
    height: 10vh;
    border-bottom: solid #e5e2e2 1px;
}
#Seguir .perfil:hover{
    background: rgba(229, 226, 226, 0.9);
}
#Seguir .perfil img{
    border-radius: 100px;
    height: 8vh;
    width: 4vw;
    margin-left: 5%;
    margin-top: 2%;
}
#Seguir .perfil h5{
    margin-top: 20%;
    margin-left: 5%;
}
#Seguir .perfil p{
    font-size: 75%;
    margin-left: 5%;
    color: gray;
}
#Seguir .perfil button{
    margin-left: 30%;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0);
    style: none;
    border: solid 1px #01A9DB ;
    border-radius: 100px;
    width: 6vw;
    height: 5vh;
    color: #01A9DB;
    font-weight: bold;
}
#Seguir .perfil button:hover{
    background: rgba(100, 193, 221, 0.2);
}
#Trends footer{
    color: gray;
    text-align: center;
    font-size: 80%;
    margin-top:10%;
}